<!DOCTYPE html>
<html>
    <head>
        <style>
            body
            {
                background: skyblue;
                font-family: verdana;
                color:#fff;
                padding: 30px;
            }
            h1{
                font-size: 48px; text-transform:uppercase;
                letter-spacing: 2px; text-align: center;
            }
            p{font-size: 16px;
            text-align: center;

            }
             input {
                 width:100%;
                 padding: 10px ;
                 margin:8px;
                 display:inline-block;
                 border: 1px solid rgb(204, 100, 114);
             }
            
        </style>
    </head>
    <body>
       <h1>
           contact us
       </h1> 
       <h2> its me</h2>
       <p>thanks for getting in touch</p>
       <p>you contacted<%=data.who%> in the <%=data.dept%> department</p>
       <p>we will reply you at <%=data.email%></p>
    </body>
</html>