<!DOCTYPE html>
<html>
    <head>
        <style>
            body
            {
                background: skyblue;
                font-family: verdana;
                color:#fff;
                padding: 30px;
            }
            h1{
                font-size: 48px; text-transform:uppercase;
                letter-spacing: 2px; text-align: center;
            }
            p{font-size: 16px;
            text-align: center;

            }
             input {
                 width:100%;
                 padding: 10px ;
                 margin:8px;
                 display:inline-block;
                 border: 1px solid rgb(204, 100, 114);
             }
            
        </style>
    </head>
    <body>
       <h1>
           contact us
       </h1> 
       <h2> its me</h2>
       <form id ="contact form">
           <label for="who">who do you want to contact</label><br>
           <input type="text" name="who" value="<%= qs.person%>"><br>
           <label for="dept" ></label>which department</label><br>
           <input type="text" name="dept"value="<%=qs.dept%>"><br>
           <label for="email">email</label><br>
           <input type="email" name="email"/><br>
           <input type ="submit" value=submit>


       </form>
    </body>
</html>